<div class="add-item">
  <form (submit)="addItem(description.value)">
    <div fxLayout fxLayoutGap="10px">
      <div fxFlex fxFlexAlign="center">
        <mat-form-field floatLabel="always" style="width: 100%">
          <input #description matInput placeholder="Description" required>
        </mat-form-field>
      </div>
      <div fxFlex fxFlexAlign="center">
        <button type="submit" mat-raised-button color="primary">Add</button>
      </div>
    </div>
  </form>
</div>