<div fxLayout (click)="onItemDone()" class="item">
  <div fxFlexAlign="center">
    <mat-icon *ngIf="!todoItem.done">check_box_outline_blank</mat-icon>
    <mat-icon *ngIf="todoItem.done">check_box</mat-icon>
  </div>
  <div fxFlexAlign="center" class="description">
    <p>{{todoItem.description}}</p>
  </div>
</div>