<mat-toolbar color="primary"><span>Dead-Simple ToDo Application</span></mat-toolbar>

<div fxLayout="column">
  <app-add-todo-item fxFlex (add)="addItem($event)"></app-add-todo-item>
  <app-todo-item fxFlex class="item" *ngFor="let todoItem of (todoItems | doneFilter: false); index as i" [todoItem]="todoItem"
    (done)="onItemDone(i)"></app-todo-item>
</div>

<mat-expansion-panel class="completed">
  <mat-expansion-panel-header>
    <mat-panel-title>Completed Items</mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayout="column">
    <app-todo-item fxFlex class="item" *ngFor="let todoItem of (todoItems | doneFilter: true)" [todoItem]="todoItem"></app-todo-item>
  </div>
</mat-expansion-panel>